<header>
    <a href="/">Authenticator</a>
    <ul>
        <% if (locals.user){%>
            <li>
                <a href="/users/sign-out">sign out</a>
            </li>
            <li>
                <a href="/users/reset-password">Reset Password</a>
            </li>
        <%}else{%>
            <li>
                <a href="/users/sign-in">sign in</a>
            </li>
            <li>
                <a href="/users/sign-up">sign up</a>
            </li>
        <%}%>
    </ul>
</header>