<link rel="stylesheet" href="/css/find_account.css">
<div id="find-account-container">
    <img id="find-account-img" src="/images/undraw_searching_p5ux.svg" alt="Search Image">
    <div id="rigth-container">
        <h3>Find Your Account</h3>

        <form action="/users/find-account" method="POST">
            <div class="md-form">
                <input type="email" name="email" placeholder="Email" class="form-control"  required>
            </div>
            <input class="btn btn-info btn-block my-4" type="submit" value="Search">
        </form>
    </div>

</div>


