<link rel="stylesheet" href="/css/home.css">
<div id = "home-container" style="margin:auto;margin-top:100px;display:flex;justify-content: center;">
    <img src="/images/undraw_home_cinema_l7yl.svg" alt="" style="width:300px;">
</div>
<script src="/js/home_posts.js"></script>
<script src="/js/home_comments.js"></script>
